* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    /* background: linear-gradient(to right,#FF5F6D, #FFC371); */
    overflow: hidden;
    display: flex;
    align-items: center;
}

.start-game-container {
    background: url(./img/back.avif) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: aliceblue;
    /* display: none; */
    z-index: 20;
}

.logo-img {
    height: 50%;
}

.start-game1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.start-game-button {
    color: black;
    font-size: large;
    padding: 10px 20px;
}




.cell {
    width: 45px;
    height: 45px;
    /* border: 1px solid black; */
    transition: 0.2s linear opacity;
    cursor: pointer;
}

.world-container {
    display: flex;

}

/* 1 */
.skyblue-color {
    background-color: skyblue;
}

/* 2 */
.white-color {
    background-color: white;
}

/* 3 */
.green-color {
    background-color: green;
}

/* 4 */
.wood-color {
    background-color: #966F33;
}

/* 5 */
.gray-color {
    background-color: gray;
}

/* 6 */
.sand-color {
    background-color: sandybrown;
}


.btn-style {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.chosen-btn {
    border: solid saddlebrown 5px;
    border-radius: 20px;
}

.tools-and-actions {
    border: solid black 3px;
    width: 150px;
    display: flex;
    flex-direction: column;
}


/* #axe {
    background: url(./img/axe-img.png) no-repeat center center/cover;
    width: 100px;
    height: 125px;
}

#pickaxe {
    background: url(./img/pickaxe-img.png) no-repeat center center/cover;
    width: 100px;
    height: 125px;
}

#shovel {
    background: url(./img/shovel-img.png) no-repeat center center/cover;
    width: 100px;
    height: 125px;
}

#reset {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} */